name: Build Cleanup Job

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
      - "LICENSE"
      - "OWNERS"
      - "OWNER_ALIASES"
  pull_request_target:
    types: [opened, synchronize]
    paths-ignore:
      - "**/*.md"
      - "CODEOWNERS"
      - "LICENSE"
      - "OWNERS"
      - "OWNER_ALIASES"

permissions:
  id-token: write # This is required for requesting the JWT token
  contents: read # This is required for actions/checkout

jobs:
  setup:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      latest: ${{ steps.latest.outputs.latest || '' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
      - id: latest
        if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch) && github.event_name == 'push'
        run: echo "latest=latest" >> $GITHUB_OUTPUT

  build-image:
    needs: [setup]
    uses: kyma-project/test-infra/.github/workflows/image-builder.yml@main # Usage: kyma-project/test-infra/.github/workflows/image-builder.yml@main
    with:
      name: subscription-cleanup-job
      dockerfile: Dockerfile.job
      context: ./
      export-tags: false
      tags: |
        ${{ needs.setup.outputs.latest }}

  summary:
    runs-on: ubuntu-latest
    needs: [build-image]
    if: success() || failure()
    steps:
      - name: "Generate summary"
        run: |
          {
            echo '# Subscription Cleanup Job'
            # if build-image was successful
            if [ "${{ needs.build-image.result }}" == "success" ]; then
              printf '\n\n## Image\n'
              printf '\n```json\n'
              echo '${{ needs.build-image.outputs.images }}' | jq
              printf '\n```\n'
            fi
          } >> $GITHUB_STEP_SUMMARY
